<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540000808962-9nj24eugu79sf7to51h91i0m8aqadmkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540000808962-9nj24eugu79sf7to51h91i0m8aqadmkt</string>
	<key>API_KEY</key>
	<string>AIzaSyCTCpfzxTa3WJFtzOUikJ_FP3viG9IqeWw</string>
	<key>GCM_SENDER_ID</key>
	<string>540000808962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-3b287</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-3b287.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540000808962:ios:222bc4dd8af6c387f2771b</string>
</dict>
</plist>